*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(50deg, #0b0629, #685dfa);
    display: flex;
    font-family:  Tahoma, sans-serif;
}
.calculator{
    display: flex;
    background-color: rgba(0, 0, 0, 0.288);
    width: 300px;
    height: 415px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    color: #aaf1ea;
    border-radius: 10px;
    border: 1px solid #4455f2;
}
#Res{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    color: #1E1940;
    display: flex;
    align-items: center;
    font-size: 18pt;
    justify-content: end;
    margin-bottom: 5px;
    margin-top: 5px;
}
button{
    width: 60px;
    height: 60px;
    font-size: 22pt;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #f8f8f8d8;
    color: #0b0629;
    border-radius: 3px;
}
#ButIgual{
    
     background-color: #034acc;
     margin: 1px;
     color: #f7f6fa;
}
.Operator{
    background-color: #1E1940;
    color: #f7f6fa;
}
#disp{
    display: block;
}
#historico{
    display: none;
    flex-direction: column;
    align-items: center;
}
#title-hist{
    margin-bottom: 10px;
}
.itens{
    display: flex;
    justify-content: center;
    background-color: inherit;
    flex-direction: column;
    gap: 5px;
}
.hist-calc{
    font-weight: 700;
    color: white;
}
#back{
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    background-color: transparent;
    width: 30px;
    height: 25px;
    
}


